.home-title {
  margin: 4rem;
  padding: 2rem;
  color: #FFFFFF;
}

.home-subtitle {
  margin: 3rem;
  padding: 1rem;
  color: #000000;
}

.has-bg-img {
  background: url('https://images.unsplash.com/photo-1501962679900-bea61483313b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2549&q=80');
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:cover;
  opacity: 0.85;
}

.login-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.login-box {
  width: 5vw;
  height: 3vh;
  color: white;
}

.signup-button {
    margin-right: 30%;
    background: transparent;
    color: #FFFFFF;
}

.login-button {
    background: transparent;
    color: #FFFFFF;
}

a {
  .button:hover {
    color: #FFFFFF;
    border: 1px solid transparent;
  }
}

.how-it-works {
  margin: 2rem;
}
