@import 'home';
@import 'forms';

* {
  font-family: 'Roboto', serif;
  text-align: center;
  color: #333333;
  a {
    color: #333333;
  }
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}


.normal-button {
  .button:hover {
    background-color: white;
    border-color: #dbdbdb;
  }
}


.is-4 {
  margin: 2rem;
}
