@import 'home';
@import 'forms';

* {
  font-family: 'Roboto', serif;
  text-align: center;
  color: #333333;
  a {
    color: #333333;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

.is-2 {
  margin: 2rem;
}

.normal-button {
  .button:hover {
    background-color: white;
    border-color: #dbdbdb;
  }
}


.is-4 {
  margin: 2rem;
}

footer {
  position: relative;
  padding: 2rem;
  border-top: 1px solid #333333;
  .github {
    position: absolute;
    left: 0.5rem;
    bottom: 1rem;
  }
}
