@import 'home';
@import 'forms';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 7rem;
  min-height: 100%;
}

* {
  font-family: 'Roboto', serif;
  text-align: center;
  color: #333333;
  a {
    color: #333333;
  }
}


h1,h2,h3,h4,h5,h6 {
  margin-top: 2rem;
  font-family: 'Oswald', sans-serif;
}

.normal-button {
  .button:hover {
    background-color: white;
    border-color: #dbdbdb;
  }
}

main {
  margin-bottom: 2rem;
}

.looking {
  color: #a00000;
  margin: 0.5rem;
  // border: 1px solid #a00000;
  border-radius: 4%;
}

.not-looking {
  color: #dbdbdb;
  margin: 0.5rem;
  // border: 1px solid #dbdbdb;
  border-radius: 4%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 3rem;
  border-top: 1px solid #333333;
  .github {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
  }
}
